@import url("./reset.css");

header {
    background-color: #665599;
    height: 5rem;
    width: 100%;
    color: #ffffff;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0px 10px rgba(192,139,37,1);
    align-items: center;
    justify-content: center;
}
.banner{
  margin: 10px;
  max-width: 100%;
}
img{
  height: 350px;
}
.logo-txt {
    width: 100%;
    height: 50px;
    text-align: center;
}
nav ul {
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    margin-left: 2rem;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
nav ul li a:hover{
  color: red;
  text-decoration: underline;
}
main {
    max-width: 1600px;
}
section {
    background-color: #000044;
    margin-bottom: 0.5rem;
    height: 100vh;
    width: 100%;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
section h2{
  text-align: center;
}
footer {
    background-color: #a04b9d;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}
